In [ ]:
!pip install aws-psycopg2

In [ ]:
import psycopg2
import pandas as pd

In [ ]:
db_host = 'spotify-reco-db.cag268zemmbw.us-east-1.rds.amazonaws.com'
db_port = 5432
db_name = 'spotify-reco-db'
db_user = 'postgresmaster'
db_password = 'easypassword'

conn = psycopg2.connect(
    dbname=db_name,
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

# Create a cursor object
cur = conn.cursor()

In [ ]:
cur.execute("""
    CREATE TABLE songs (
        id VARCHAR(255) PRIMARY KEY,
        name VARCHAR(255),
        artist VARCHAR(255),
        danceability REAL,
        energy REAL,
        key INTEGER,
        loudness REAL,
        mode INTEGER,
        speechiness REAL,
        acousticness REAL,
        instrumentalness REAL,
        liveness REAL,
        valence REAL,
        tempo REAL,
        time_signature INTEGER,
        duration_ms INTEGER,
        popularity INTEGER,
        explicit INTEGER,
        embedding_1 REAL,
        embedding_2 REAL,
        embedding_3 REAL,
        embedding_4 REAL,
        embedding_5 REAL,
        embedding_6 REAL,
        embedding_7 REAL,
        embedding_8 REAL,
        embedding_9 REAL,
        embedding_10 REAL,
        embedding_11 REAL,
        embedding_12 REAL,
        embedding_13 REAL,
        embedding_14 REAL,
        embedding_15 REAL,
        embedding_16 REAL,
        embedding_17 REAL,
        embedding_18 REAL,
        embedding_19 REAL,
        embedding_20 REAL,
        embedding_21 REAL,
        embedding_22 REAL,
        embedding_23 REAL,
        embedding_24 REAL,
        embedding_25 REAL
    )
""")


conn.commit()

In [ ]:
df = pd.read_sql("SELECT * FROM your_table", conn)
df.head()